body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header {
    background-color:#322b32;
    color: white;
    padding: 30px;
}

.links> li >a {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

main {
    display: flex;
    flex-direction: row;
    padding: 30px;
}
  
article {
    padding: 20px;
    width: 66.7%;
}

aside {
    width: 33.3%;
}
  
.fluid-image {
    width: 100%;
    height: auto;
}
  
footer {
    padding: 30px;
}
